extends layout

block content
    div(class="col-sm-12 col-md-12")
        h1(class="text-center")= title
    div(class="col-sm-8 col-md-8",id="game-body")
        h3(class="text-center") Guesses | Current Inning: 
            span= game.current_inning
        form(action="",method="post",id="guess-form")
            div(class="checkbox")
                table(class="table")
                    tr
                        td
                            label
                                input(type="checkbox", class="guess", name="1B")
                                | Single
                        td
                            label
                                input(type="checkbox", class="guess", name="2B")
                                | Double
                        td
                            label
                                input(type="checkbox", class="guess", name="3B")
                                | Triple
                        td
                            label
                                input(type="checkbox", class="guess", name="HR")
                                | Home Run
                    tr
                        td
                            label
                                input(type="checkbox", class="guess", name="BB")
                                | Walk
                        td
                            label
                                input(type="checkbox", class="guess", name="SB")
                                | Stolen Base
                        td
                            label
                                input(type="checkbox", class="guess", name="SAC")
                                | Sac Bunt
                        td
                            label
                                input(type="checkbox", class="guess", name="SF")
                                | Sac Fly
                    tr
                        td
                            label
                                input(type="checkbox", class="guess", name="GO")
                                | Groundout
                        td
                            label
                                input(type="checkbox", class="guess", name="PO")
                                | Pop Out
                        td
                            label
                                input(type="checkbox", class="guess", name="L")
                                | Lineout
                        td
                            label
                                input(type="checkbox", class="guess", name="FO")
                                | Forceout
                    tr
                        td
                            label
                                input(type="checkbox", class="guess", name="WP")
                                | Wild Pitch
                        td
                            label
                                input(type="checkbox", class="guess", name="E")
                                | Error
                        td
                            label
                                input(type="checkbox", class="guess", name="GIDP")
                                | Grounded into DP
                        td
                            label
                                input(type="checkbox", class="guess", name="K")
                                | Strikout
            input(type="hidden",name="_csrf",value=csrf)
            div(class="form-actions",id="guess-submit")
                if in_room
                    button(type="submit").btn.btn-default Submit
                else
                    button(type="submit",class="disabled").btn.btn-default Submit
    div(class="col-sm-4 col-md-4",id="game-body")
        h3(class="text-center") Scoreboard
        div(id="scoreboard")
            table(class="table table-bordered",id="high-score")
                tr
                    th Username
                    th Score
                each score in scores
                    tr(id=score.user._id)
                        td= score.user.username
                        td= score.score
        if !in_room
            div(class="btn-group",id="join-group")
                form(action="",method="post",id="join-form")
                    input(type="hidden",name="_csrf",value=csrf)
                    div(class="form-actions")
                        button(type="submit").btn.btn-default Join
            div(class="btn-group",id="leave-group",style="display:none;")
                form(action="",method="post",id="leave-form")
                    input(type="hidden",name="_csrf",value=csrf)
                    div(class="form-actions")
                        button(type="submit").btn.btn-default Leave
        else
            div(class="btn-group",id="join-group",style="display:none;")
                form(action="",method="post",id="join-form")
                    input(type="hidden",name="_csrf",value=csrf)
                    div(class="form-actions")
                        button(type="submit").btn.btn-default Join
            div(class="btn-group",id="leave-group")
                form(action="",method="post",id="leave-form")
                    input(type="hidden",name="_csrf",value=csrf)
                    div(class="form-actions")
                        button(type="submit").btn.btn-default Leave

    div(class="col-sm-12 col-md-12 table-responsive")
        table(class="table table-bordered",id="events")
            tr(id="innings")
                th Inning
                th(class="text-center") 1
                th(class="text-center") 2
                th(class="text-center") 3
                th(class="text-center") 4
                th(class="text-center") 5
                th(class="text-center") 6
                th(class="text-center") 7
                th(class="text-center") 8
                th(class="text-center") 9
            tr(id="events")
                th Events
                td(id="event-1")= events[1]
                td(id="event-2")= events[2]
                td(id="event-3")= events[3]
                td(id="event-4")= events[4]
                td(id="event-5")= events[5]
                td(id="event-6")= events[6]
                td(id="event-7")= events[7]
                td(id="event-8")= events[8]
                td(id="event-9")= events[9]
            tr(id="guesses")
                th Guesses
                td(id="guess-1")= guesses[0]
                td(id="guess-2")= guesses[1]
                td(id="guess-3")= guesses[2]
                td(id="guess-4")= guesses[3]
                td(id="guess-5")= guesses[4]
                td(id="guess-6")= guesses[5]
                td(id="guess-7")= guesses[6]
                td(id="guess-8")= guesses[7]
                td(id="guess-9")= guesses[8]

block scripts
    script(src="/socket.io/socket.io.js")        
    script.
        $(document).ready(function () {
            var socket = io();

            socket.emit("subscribe", { room: "#{game.game_id}" });
            socket.on("player join", function(msg) {
                var tr = $("#high-score").append($("<tr>").attr("id",msg.score.user._id));
                $("#"+msg.score.user._id).append($("<td>").text(msg.score.user.username));
                $("#"+msg.score.user._id).append($("<td>").text(msg.score.score));
            });
            socket.on("player leave", function(msg) {
                $("#"+msg.user._id).remove();
            });
            socket.on("new event", function(msg) {
                var inning = Number(msg.inning);
                $("#event-"+inning).text(msg.event.toString());
            });
            socket.on("score update", function(msg) {
                console.log(msg);
            });
            $("#join-form").submit(function(e) {
                var path = window.location.pathname;
                if(path.slice(-1) !== "/") {
                    path = path + "/join";
                } else {
                    path = path + "join";
                }
                var data = $("#guess-form").serialize();
                $.ajax({
                    url: path,
                    type: "POST",
                    data: data,
                    success: function (data) {
                        $("#join-group").hide();
                        $("#leave-group").show();
                        $("#guess-submit > button").removeClass("disabled");
                    },
                    error: function (jXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
                return false;
            });
            $("#leave-form").submit(function(e) {
                if(confirm("Are you sure you want to leave this game?")) {
                    var path = window.location.pathname;
                    if(path.slice(-1) !== "/") {
                        path = path + "/leave";
                    } else {
                        path = path + "leave";
                    }
                    var data = $("#guess-form").serialize();
                    $.ajax({
                        url: path,
                        type: "POST",
                        data: data,
                        success: function (data) {
                            $("#join-group").show();
                            $("#leave-group").hide();
                            $("#guess-submit > button").addClass("disabled");
                        },
                        error: function (jXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                }
                return false;
            });

            $("#guess-form").submit(function(e) {
                var data = $("#guess-form").serialize();
                var path = window.location.pathname;
                if(path.slice(-1) !== "/") {
                    path = path + "/submit_guess";
                } else {
                    path = path + "submit_guess";
                }
                $.ajax({
                    url: path,
                    type: "POST",
                    data: data,
                    success: function (data) {
                        var inning = Number(data.inning) + 1;
                        $("#guess-"+inning).text(data.guesses.toString());
                    },
                    error: function (jXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
                return false;
            });
            $(".guess").each(function(e) {
                $(this).change(function() {
                    if($(this).is(":checked")) {
                        if($(".guess:checked").length > 3) {
                            $(this).attr('checked', false);
                        }
                    }
                });
            });
        });


                